.main{
display: flex;
justify-content: center;
align-items: center;
}
.main::before{
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg');
    background-size: cover;
    z-index: 1;
}
.main::after{
        content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
     z-index: 2;
      background:
    radial-gradient(circle at center, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.75) 100%),
    linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.65) 100%);
}
.content{
    background-image: url('./Netflix-Symbol-removebg-preview.png');
    width: 400px;
    height: 80vh;
    background-size: cover;
    background-position: center;
   z-index: 3;

}
h1{
    position: relative;
    top: 60%;
    left: 20%;
    color: white;
    font-size: 60px;
    text-shadow: 5px 5px 5px gray;
}
